# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform plans
*.tfplan

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log


# Terraform
.terraform/
.terraform.lock.hcl

# Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Variable files
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# CLI configuration
.terraformrc
terraform.rc

#log files
*.log
